* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: #0b0f17;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    font-family: 
        'Poppins',
        'Segoe UI'
        sans-serif,
        -apple-system,
        system-ui;
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    text-shadow: 0 0 50px white;
    font-size: 5rem;
    text-align: center
}

p {
    font-size: 1rem
}

.data-section th,
.data-section td {
    padding: 15px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, .11);
    font-size: 1.5rem;
    text-align: left;
}

.data-section th {
    color: rgba(255, 255, 255, .52);
    font-size: 2rem;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.data-section tbody tr {
    transition: background .2s;
}

.data-section tbody tr:hover {
    background: rgba(255, 255, 255, .3);
}