* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: #0b0f17;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    font-family: 
        'Poppins',
        'Segoe UI'
        sans-serif,
        -apple-system,
        system-ui;
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    text-shadow: 0 0 50px white;
    font-size: 5rem;
    text-align: center
}