#viewport {
    width: 100vw;
    height: 100vh;

    overflow: hidden
}

#canvas {
    width: 300vw;
    height: 300vh;

    position: absolute;

    transform: translate(-100vw, -100vh);

    transition: transform 0.8s cubic-bezier(0.4, 0, 0.6, -0.2);
}