.viewport {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;
}

#canvas {
    width: 300vw;
    height: 300vh;

    position: absolute;

    display: grid;
    grid-template-columns: repeat(3, 100vw);
    grid-template-rows: repeat(3, 100vh);

    transform: translate(-100vw, -100vh);

    transition: transform 0.8s cubic-bezier(0.4, 0, 0.6, -0.2);
}

#skills {
    grid-column: 2;
    grid-row: 1;
}

#profile {
    grid-column: 1;
    grid-row: 2;
}

#home {
    grid-column: 2;
    grid-row: 2;
}

#portfolio {
    grid-column: 3;
    grid-row: 2;
}

#contact {
    grid-column: 2;
    grid-row: 3;
}
